.products{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
}

.product {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.product img {
    height: 100px;
}


.addProduct {
    margin-bottom: 100px;
}

.input,
.textarea {
    display: block;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid lightslategray;
}

