.App {
  display: grid;
  grid-template-columns: 3fr 9fr;
  margin: 0 auto;
  width: 1000px;
}

.productCard {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.productCard img{
  width: 100px;
}

.link {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
}


